* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

/* Жовтий прямокутник для заголовка */
.title-box {
    background-color: #ffc107;
    padding: 20px;
    text-align: center;
}

.title-box h1 {
    color: #000;
    font-size: 36px;
    font-weight: bold;
}

/* Меню */
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px 0;
    background-color: #ffffff;
}

nav li {
    background-color: #ffc400;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}

/* Секція процесу навчання */
.process {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.process h2 {
    margin-bottom: 30px;
    font-size: 28px;
    text-align: left;
}

.steps {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.step {
    background-color: #fff;
    padding: 20px;
    width: 22%;
    border-radius: 5px;
    border: 2px solid #e0e0e0; /* Додаємо тонкий контур */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); /* Додаємо легку тінь */
    text-align: left; /* Вирівнювання тексту */
    transition: transform 0.3s ease; /* Ефект при наведенні */
}

.step span {
    display: inline-block;
    background-color: #ffc107;
    color: #000000;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.step p {
    font-size: 16px;
    margin-bottom: 10px;
}
.step img {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

.step-title {
    font-weight: bold;
    font-size: 18px;
}

/* Секція рівнів навчання */
.levels {
    background-color: #f5f5f5;
    padding: 40px 20px;
}

.level {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.level p {
    max-width: 500px; 
    text-align: left; 
    line-height: 1.6; 
    margin-right: 200px;
}

.level img {
    max-width: 40%;
    border-radius: 10px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}